# PORT=3211
# DB_HOST=localhost
# DB_PORT=5432
# DB_USERNAME=root
# DB_PASSWORD=root123
# DB_NAME=student_part_time
# CORS_ORIGIN=http://localhost:5173

PORT=3211
# DB_HOST=localhost
# DB_PORT=5432
# DB_USERNAME=root
# DB_PASSWORD=Hnh00900
# DB_NAME=student_part_time
DATABASE_URL="postgresql://postgres.uhbqgfahngaketneebrt:Gic%24123%40itc@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres?sslmode=no-verify&pgbouncer=true"
SUPABASE_URL="https://uhbqgfahngaketneebrt.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVoYnFnZmFobmdha2V0bmVlYnJ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxMzA4NjEsImV4cCI6MjA4OTcwNjg2MX0.A0FVUhx40SNXfDrMQKZ444jlUqeYffjxEWbfmyXFvu4"
CORS_ORIGIN=http://localhost:5173
